.container {
  margin: 20px 0 20px;
}

.list {
  padding: 15px;
  list-style: none;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main);
}

.author {
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--main);
}