@import '../../index.css';

.comment {
  border: 1px solid var(--grey-d6);
  background-color: white;
  margin-bottom: 10px;
  text-align: left;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.active {
  border-color: var(--blue);
}

.author {
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--main);
}

.message {
  font-size: 0.9rem;
  color: var(--grey6b);
}